:root {
    --color0: #202020;
    --color1: #DEDEDE;
    --color2: #959595;
    --color3: #323232;
    --color4: #9D9D9D;
}


html {
    font-size: 15px;
}

body {
    margin: 0;
    background-color: var(--color0);
    font-family: 'Manrope', sans-serif;
    font-size: 1rem;
    line-height: 1.6;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

p {
    margin: 0 0 10px;
}


/* Контейнер */
.container {
    width: 100%;
    max-width: 1230px;
    margin: 0 auto;
    padding: 0 1rem;
}

/* Header */


.header {
    background-color: var(--color3);
    padding: 2rem 0;

}


.header-logo img {
    display: block;
}

.header_inner {

    display: flex;
    align-items: center;
    justify-content: space-between;

}

.header-nav {
    display: flex;
}

.header-nav-link {
    margin-left: 1.5rem;

    color: var(--color1);
    font-size: 1rem;
    font-weight: 500;
    text-decoration: none;

    transition: color .2s linear;
}

.header-nav-link:hover {
    color: var(--color2);
}

.header-nav-link.active {
    position: relative;
}

.header-nav-link.active:after {
    content: "";
    width: 100%;
    height: 2px;

    background-color: #fff;

    position: absolute;
    left: 0;
    bottom: -5px;



   
}

/* Main */
.main {
    padding: 130px 0 150px 0;
    display: flex;
    justify-content: space-between;
}

.img400 {
    width: 400px;
    height: 400px;
}

.main__block {
    padding-right: 200px;
}

.main__text__title {
    font-size: 64px;
    font-weight: 700;
    color: var(--color1);
    line-height: 70px;
    margin-bottom: 24px;
}

.main__text__subtitle {
    width: 510px;
    font-size: 24px;
    font-weight: 600;
    color: var(--color2);
    line-height: 36px;
    margin-bottom: 64px;
}

/* Button */
.btn {
    padding: 16px 48px;
    background-color: var(--color4);
    border-radius: 4px;
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    font-weight: 600;

    display: inline-block;


}

.btn::before {
    content: url(/img/mail.svg);

    margin-right: 16px;
    position: relative;
    top: 2px;
}

.arrow {
    text-transform: uppercase;
    color: var(--color1);
    font-size: 16px;
    font-weight: 700;
    padding-bottom: 220px;
}

.arrow::before {
    content: url(/img/Arrow\ 1.svg);
    margin-right: 16px;
    position: relative;
    top: 10px;
}


.block1 {
    position: relative;
    top: -140px;
}

/* Инфо блоки */
.info__block1 {
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 0;
    margin-bottom: 240px;

}

.img_block1 {
    padding: 12px 12px 12px 12px;
    border-radius: 20px;
}

.img_block2 {
    padding: 12px 12px 12px 12px;
    border-radius: 20px;
}




/* map_block */

.map_block_title {
    font-size: 36px;
    font-weight: 700;
    color: var(--color1);
    text-align: center;
    margin-bottom: 65px;
}

.map_blocks_img {
    display: flex;
    justify-content: space-between;
}

.map_block1 {
    width: 33.3333%;
}

.map_block2 {
    width: 33.3333%;
}

.map_block3 {
    width: 33.3333%;
}