:root {
    --color0: #202020;
    --color1: #DEDEDE;
    --color2: #959595;
    --color3: #323232;
}


html {
    font-size: 15px;
}

body {
    margin: 0;
    background-color: var(--color0);
    font-family: 'Manrope', sans-serif;
    font-size: 1rem;
    line-height: 1.6;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

p {
    margin: 0 0 10px;
}


/* Контейнер */
.container {
    width: 100%;
    max-width: 1030px;
    margin: 0 auto;
    padding: 0 1rem;
}

/* Header */


.header {
    background-color: var(--color3);
    padding: 2rem 0;

}


.header-logo img {
    display: block;
}

.header_inner {

    display: flex;
    align-items: center;
    justify-content: space-between;

}

.header-nav{
    display: flex;
}

.header-nav-link{
    margin-left: 1.5rem;

    color: var(--color1);
    font-size: 1rem;
    font-weight: 500;
    text-decoration: none;

    transition: color .2s linear;
}

.header-nav-link:hover {
    color: var(--color2);
}

.header-nav-link.active {
    position: relative;
}

.header-nav-link.active:after {
    content: "";
    width: 100%;
    height: 2px;

    background-color: #fff;

    position: absolute;
    left: 0;
    bottom: -5px;
}
